.courseInfoGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: fit-content;
}
.alignRight{
    text-align: right;
    font-weight: bold;

}
.alignLeft{
    text-align: left;
}