.courseCard {
    grid-column: auto;
    grid-row: auto;
    width: fit-content;
    padding: 10px 25px;
    background-color: #D8D2C4;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.cardGrid {
    padding: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #D8D2C4;
    column-gap: 10px;
}

.cardButton {
    background: none;
    border: 0;
    width: min-content;
    -ms-grid-column-align: end;
}