<app-professor-nav-bar name="Professor Courses"></app-professor-nav-bar>
<div>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
</div>
