<!-- <app-professor-nav-bar name="Professor Courses"></app-professor-nav-bar> -->
<app-navbar name="Professor Main"></app-navbar>
<div>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
  <app-professor-course-card [course]="course"></app-professor-course-card>
</div>
