<mat-card>
        <mat-card-title-group titleGroup>
                <img mat-card-sm-image src="../assets/notebook.png">
                <mat-card-title>
                  {{course.code}} &mdash; {{course.name}}
                </mat-card-title>
                <mat-card-subtitle>
                        <p style= "color: #000000">{{getCourseDays(course)}}: {{getCourseTimes(course)}}</p>
                        <p>Section #{{course.section}}</p>
                </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content content>
                        <p class="bold">Comp. Systems Security.</p>
                        <p class="light">{{course.professor}}</p>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions actions align="end">
            <button mat-raised-button class="csunRed" routerLink="/studCourse">
                    <mat-label for="viewCourse">View Course</mat-label>
                    <mat-icon id="viewCourse" class="buttonIcon">info</mat-icon>
            </button>
            <button mat-raised-button class="goldenYellow" routerLink="/studMessages">
                          <mat-label for="viewMessages">Messages</mat-label>
                          <mat-icon id="viewMessages" class="buttonIcon">mail_outline</mat-icon>
            </button>
        </mat-card-actions>
</mat-card>
