<div class="gridLayout">
        <app-professor-course-card [course]="list[0]"></app-professor-course-card>
        <app-professor-course-card [course]="list[1]"></app-professor-course-card>
        <app-professor-course-card [course]="list[2]"></app-professor-course-card>
        <app-professor-course-card [course]="list[3]"></app-professor-course-card>
        <app-professor-course-card [course]="list[4]"></app-professor-course-card>
        <app-professor-course-card [course]="list[5]"></app-professor-course-card>
        <app-professor-course-card [course]="list[6]"></app-professor-course-card>
        <app-professor-course-card [course]="list[7]"></app-professor-course-card>
        <app-professor-course-card [course]="list[8]"></app-professor-course-card>
        <app-professor-course-card [course]="list[9]"></app-professor-course-card>
</div>
