<div class="listStyle">
    <app-professor-student-card [student]="list1[0]"></app-professor-student-card>
    <app-professor-student-card [student]="list1[1]"></app-professor-student-card>
    <app-professor-student-card [student]="list1[2]"></app-professor-student-card>
    <app-professor-student-card [student]="list1[3]"></app-professor-student-card>
    <app-professor-student-card [student]="list1[4]"></app-professor-student-card>
    <app-professor-student-card [student]="list1[5]"></app-professor-student-card>
</div>
