mat-card {
    background-color: #FFFFFF;
    border-left: 2px solid var(--csun-red);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    line-height: 10%;
}

.cardTitleGrid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.cardTitleMainText {
    padding-left: 10px;
    font-size: 0.75em;
}

.cardTitleLowerText {
    font-size: 0.5em;
    color: rgba(0, 0, 0, .54);
    grid-column-end: 10px;
}

.bold {
    font-weight: 1000;
}

.light {
    color: rgba(0, 0, 0, .54)
}

.titleContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
}

.cardTitleFont {
    font-size: 1em;
}

.messageIcon {
    border-radius: 2px;
    color: #FFFFFF;
}

.warning {
    background-color: var(--csun-red);
}

.announcement {
    background-color: var(--blue);
}