<mat-card>
    <mat-card-title-group>
            <img mat-card-sm-image src="../assets/notebook.png">
            <mat-card-title>COMP 490</mat-card-title>
            <mat-card-subtitle>
                    <p>Section #16789 Mo/We: 9:30-10:30</p>
                    <p></p>
            </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
           
                    <p class="bold">Comp. Systems Security:</p>
                    <p>Professor</p>
            
    </mat-card-content>
</mat-card>