<div class="gridLayout">
        <app-student-course-card [course]="list[0]"></app-student-course-card>
        <app-student-course-card [course]="list[1]"></app-student-course-card>
        <app-student-course-card [course]="list[2]"></app-student-course-card>
        <app-student-course-card [course]="list[3]"></app-student-course-card>
        <app-student-course-card [course]="list[4]"></app-student-course-card>
        <app-student-course-card [course]="list[5]"></app-student-course-card>
        <app-student-course-card [course]="list[6]"></app-student-course-card>
        <app-student-course-card [course]="list[7]"></app-student-course-card>
        <app-student-course-card [course]="list[8]"></app-student-course-card>
        <app-student-course-card [course]="list[9]"></app-student-course-card>
</div>
