<div class="gridLayout">
        <app-course-card [course]="list[0]"></app-course-card>
        <app-course-card [course]="list[1]"></app-course-card>
        <app-course-card [course]="list[2]"></app-course-card>
        <app-course-card [course]="list[3]"></app-course-card>
        <app-course-card [course]="list[4]"></app-course-card>
        <app-course-card [course]="list[5]"></app-course-card>
        <app-course-card [course]="list[6]"></app-course-card>
        <app-course-card [course]="list[7]"></app-course-card>
        <app-course-card [course]="list[8]"></app-course-card>
        <app-course-card [course]="list[9]"></app-course-card>        
</div>