<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="navBar" style="background-color: #23A6CF;">
    <button class="material-icons navButton" title="User">perm_identity</button>
    <button class="material-icons navButton" title="Messages">mail_outline</button>
    <h1 id="pageTitle">{{name}}</h1>
    <button class="material-icons navButton" title="Map">my_location</button>
    <button class="material-icons navButton" title="Menu">menu</button>
</div>