<mat-tab-group>
    <mat-tab label="COMP 585" >
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
    </mat-tab>
    <mat-tab label="COMP 429" >
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
    </mat-tab>
    <mat-tab label="COMP 490" >
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
    </mat-tab>
    <mat-tab label="COMP 101" >
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
            <app-message-card [message]="getNewMessage(0)"></app-message-card>
            <app-message-card [message]="getNewMessage(1)"></app-message-card>
    </mat-tab>
</mat-tab-group>