<mat-accordion>
    <app-course-settings [course]="course"></app-course-settings>
    <app-course-settings [course]="course"></app-course-settings>
    <app-course-settings [course]="course"></app-course-settings>
    <app-course-settings [course]="course"></app-course-settings>
</mat-accordion>

<div>
    <button mat-raised-button class="goldenYellow" style="margin: 10px" routerLink="/profMain">
        <mat-label for="saveButton">Save</mat-label>
        <mat-icon id="saveButton" style="margin: 5px;">save_alt</mat-icon>
    </button>
    <button mat-raised-button class="csunRed" style="margin: 10px" routerLink="/profMain">
        <mat-label for="cancelButton">Cancel</mat-label>
        <mat-icon id="cancelButton" style="margin: 5px;">cancel</mat-icon>
    </button>
</div>