.professornavButton {
    margin: auto;
    background: none;
    border: 0;
    width: min-content;
    color: #FFFFFF;
}

.menu {
    position: relative;
    display: inline-block;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 5px;
}
