<app-navbar name="Student Main"></app-navbar>
<div>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
</div>
