<app-student-nav-bar name="Student Main"></app-student-nav-bar>
<div>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
  <app-student-course-card [course]="course"></app-student-course-card>
</div>
