<app-navbar name="Student Messages"></app-navbar>
<mat-tab-group>
    <mat-tab label="COMP 424">
        <app-absent-message></app-absent-message>
        <app-exam-message></app-exam-message>
        <app-absent-message></app-absent-message>
        <app-exam-message></app-exam-message>
        <app-absent-message></app-absent-message>
        <app-exam-message></app-exam-message>
        <app-absent-message></app-absent-message>
        <app-exam-message></app-exam-message>
    </mat-tab>
    <mat-tab label="COMP 390">
        <app-absent-message></app-absent-message>
        <app-absent-message></app-absent-message>
        <app-absent-message></app-absent-message>
        <app-absent-message></app-absent-message>
    </mat-tab>
    <mat-tab label="COMP 429">
        <app-exam-message></app-exam-message>
        <app-exam-message></app-exam-message>
        <app-exam-message></app-exam-message>
        <app-exam-message></app-exam-message>
    </mat-tab>
    <mat-tab label="COMP 333"><p style="margin: 20px;">No messages here!</p></mat-tab>
</mat-tab-group>
