<mat-expansion-panel>
        <mat-expansion-panel-header class="expansionPanelHeader">
            <mat-panel-title>{{course.code}} &mdash; {{course.name}}</mat-panel-title>
            <mat-panel-description>Section #{{course.section}}</mat-panel-description>
        </mat-expansion-panel-header>
        <form>
            <div>
                <mat-slide-toggle ngModel name="addWaitList" #addWaitList="ngModel">
                    <p>Allow additional wait-list seats.</p>
                </mat-slide-toggle>
                <div *ngIf="addWaitList.value">
                    <mat-form-field>
                        <mat-label for="numSeats">Additional seats.</mat-label>
                        <mat-select id="numSeats">
                            <mat-option *ngFor="let num of numbers" value="num">
                                {{num}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider style="padding:auto; margin:10px"></mat-divider>
    
            <div>
                <mat-slide-toggle ngModel name="autoMessages" #autoMessages="ngModel">
                    <p>Enable automated messages.</p>
                </mat-slide-toggle>
                <div *ngIf="autoMessages.value">
                    <mat-form-field>
                        <mat-label for="numAbsences">Number of absences.</mat-label>
                        <mat-select id="numAbsences">
                            <mat-option *ngFor="let num of numbers" value="num">
                                {{num}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider style="padding:auto; margin:10px"></mat-divider>
    
            <div>
                <mat-slide-toggle ngModel name="timeOutWindow" #timeOutWindow="ngModel">
                    <p>Enable check-in timeout.</p>
                </mat-slide-toggle>
                <div *ngIf="timeOutWindow.value">
                    <mat-form-field>
                        <mat-label for="numMinutes">Minutes.</mat-label>
                        <mat-select id="numMinutes">
                            <mat-option *ngFor="let num of numbers" value="num">
                                {{num}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox style="margin-left: 10px;">After class begins.</mat-checkbox>
                    <mat-checkbox style="margin-left: 10px;">After class ends.</mat-checkbox>
                </div>
            </div>
        </form>
    </mat-expansion-panel>