<div class="gridLayout">
    <mat-card>
        <mat-card-title class="titleGrid">
            <mat-icon class="material-icons messageTypeIcon examMessage">call_made</mat-icon>
            <div class="studentName">First Lastname</div>
            <div class="studentEmail">first.lastname@my.csun.edu</div>
            <div class="messageDate">09/28/2019</div>
        </mat-card-title>
        <mat-card-subtitle>Exam alert.</mat-card-subtitle>
        <mat-card-content>
            An exam is scheduled for our next class session. Please be sure to bring all necessary materials.
        </mat-card-content>
    </mat-card>
</div>